{% extends "/base.html" %}

{% block head %}
    <title>Checkout | AkramsScarfs</title>
{% endblock %}

{% block body %}
    <body class="ecommerce">
    <div class="main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('shop_main') }}">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <h1>Checkout</h1>
                    <!-- BEGIN CHECKOUT PAGE -->
                    <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
                        <!-- BEGIN CHECKOUT -->
                        <div id="checkout" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#checkout-content"
                                       class="accordion-toggle">
                                        Step 1: Checkout Options
                                    </a>
                                </h2>
                            </div>
                            <div id="checkout-content" class="panel-collapse collapse in">
                                <div class="panel-body row">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>New Customer</h3>
                                        <p>Checkout Options:</p>
                                        <div class="radio-list">
                                            <label>
                                                <input type="radio" name="account" value="register"> Register
                                                Account
                                            </label>
                                            <label>
                                                <input type="radio" name="account" value="guest"> Guest Checkout
                                            </label>
                                        </div>
                                        <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                                        <button class="btn btn-primary" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-address-content">Continue</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Returning Customer</h3>
                                        <p>I am a returning customer.</p>







                                        <!-- LOGIN FORM -->
                                        <form role="form" action="" method="post">
                                            <div class="form-group">
                                                <label for="email-login">Email</label>
                                                <input placeholder="Email" type="text" id="email-login"
                                                       class="form-control" name="username"
                                                       value="{{ request.form.email }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="password-login">Password</label>
                                                <input placeholder="Password" type="password" id="password-login"
                                                       class="form-control" name="password"
                                                       value="{{ request.form.password }}">
                                            </div>
                                            <a href="{{ url_for('shop_pass_reset') }}">Forgotten Password?</a>
                                            <div class="padding-top-20">
                                                <input class="btn btn-primary" type="submit" value="Login">
                                            </div>
                                            <hr>
                                        </form>
                                        {% if error %}
                                            <p class="error"><strong>Error:</strong>{{ error }}</p>
                                        {% endif %}





                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CHECKOUT -->







                        <form action="{{ url_for('registration') }}" method="post" autocomplete="off">
                            <!-- BEGIN PAYMENT ADDRESS -->
                            <div id="payment-address" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#checkout-page" href="#payment-address-content" class="accordion-toggle"> Step 2: Account &amp; Billing Details </a></h2>
                                </div>
                                <div id="payment-address-content" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-md-6 col-sm-6">
                                            <h3>Your Personal Details</h3>
                                            <div class="form-group">
                                                <label for="firstname">First Name <span class="require">*</span></label>
                                                <input type="text" name="firstname" id="firstname" placeholder="First name" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname">Last Name <span class="require">*</span></label>
                                                <input type="text" name="lastname" id="lastname" placeholder="Last name" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">E-Mail <span class="require">*</span></label>
                                                <input type="text" name="email" id="email" placeholder="Email" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="telephone">Telephone <span class="require">*</span></label>
                                                <input type="text" name="phone" id="telephone" placeholder="Phone number" class="form-control">
                                            </div>

                                            <h3>Your Password</h3>
                                            <div class="form-group">
                                                <label for="password">Password <span class="require">*</span></label>
                                                <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password-confirm">Password Confirm <span
                                                        class="require">*</span></label>
                                                <input type="password" name="password" id="password-confirm" placeholder="Password" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <h3>Your Address</h3>
                                            <div class="form-group">
                                                <label for="address1">Address 1</label>
                                                <input type="text" name="address1" id="address1" placeholder="Address 1" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="address2">Address 2</label>
                                                <input type="text" name="address2" id="address2" placeholder="Address 2" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="city">City <span class="require">*</span></label>
                                                <input type="text" name="city" id="city" placeholder="City" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="post-code">Post Code <span class="require">*</span></label>
                                                <input type="text" name="postcode" id="post-code" placeholder="Post code" class="form-control required>
                                            </div>
                                            <div class="form-group">
                                                <label for="country">Country <span class="require">*</span></label>
                                                <select class="form-control input-sm" id="country">
                                                    <option value="" selected> --- Please Select ---</option>
                                                    <option value="244">Aaland Islands</option>
                                                    <option value="1">Afghanistan</option>
                                                    <option value="2">Albania</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="region-state">Region/State <span
                                                        class="require">*</span></label>
                                                <select class="form-control input-sm" id="region-state">
                                                    <option value="" selected> --- Please Select ---</option>
                                                    <option value="3513">Aberdeen</option>
                                                    <option value="3514">Aberdeenshire</option>
                                                    <option value="3515">Anglesey</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-md-12">

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" checked="checked"> My delivery and billing addresses are the same.
                                                </label>
                                            </div>
                                            <button class="btn btn-primary  pull-right" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-address-content" id="button-payment-address"> Continue
                                            </button>
                                            <div class="checkbox pull-right">
                                                <label>
                                                    <input type="checkbox"> I have read and agree to the <a title="Privacy Policy" href="{{ url_for('shop_privp') }}" target="_blank">Privacy Policy</a> &nbsp;&nbsp;&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAYMENT ADDRESS -->

                            <!-- BEGIN SHIPPING ADDRESS -->
                            <div id="shipping-address" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-address-content" class="accordion-toggle"> Step 3: Delivery Details </a></h2>
                                </div>
                                <div id="shipping-address-content" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="firstname-dd">First Name <span class="require">*</span></label>
                                                <input type="text" name="firstname-dd" id="firstname-dd" placeholder="First name" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname-dd">Last Name <span class="require">*</span></label>
                                                <input type="text" name="lastname-dd" id="lastname-dd" placeholder="Last name" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="email-dd">E-Mail <span class="require">*</span></label>
                                                <input type="text" name="email-dd" id="email-dd" placeholder="Email" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="telephone-dd">Telephone <span class="require">*</span></label>
                                                <input type="text" name="telephone-dd" id="telephone-dd" placeholder="Phone number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="address1-dd">Address 1</label>
                                                <input type="text" name="address1-dd" id="address1-dd" placeholder="Address 1" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="address2-dd">Address 2</label>
                                                <input type="text" name="address2-dd" id="address2-dd" placeholder="Address 2" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="city-dd">City <span class="require">*</span></label>
                                                <input type="text" name="city-dd" id="city-dd" placeholder="City" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="post-code-dd">Post Code <span class="require">*</span></label>
                                                <input type="text" name="postcode-dd" id="post-code-dd" placeholder="Post code" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="country-dd">Country <span class="require">*</span></label>
                                                <select class="form-control input-sm" id="country-dd">
                                                    <option value="" selected> --- Please Select ---</option>
                                                    <option value="244">Aaland Islands</option>
                                                    <option value="1">Afghanistan</option>
                                                    <option value="2">Albania</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="region-state-dd">Region/State <span class="require">*</span></label>
                                                <select class="form-control input-sm" id="region-state-dd">
                                                    <option value="" selected> --- Please Select ---</option>
                                                    <option value="3513">Aberdeen</option>
                                                    <option value="3514">Aberdeenshire</option>
                                                    <option value="3515">Anglesey</option>
                                                    <option value="3516">Angus</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary  pull-right" id="button-shipping-address" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-method-content">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SHIPPING ADDRESS -->

                            <!-- BEGIN SHIPPING METHOD -->
                            <div id="shipping-method" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-method-content" class="accordion-toggle"> Step 4: Delivery Method</a>
                                    </h2>
                                </div>
                                <div id="shipping-method-content" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-md-12">
                                            <p>Please select the preferred shipping method to use on this order.</p>
                                            <h4>Flat Rate</h4>
                                            <div class="radio-list">
                                                <label>
                                                    <input type="radio" name="FlatShippingRate" value="FlatShippingRate"> Flat Shipping Rate
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label for="delivery-comments">Add Comments About Your Order</label>
                                                <textarea id="delivery-comments" rows="8" class="form-control"></textarea>
                                            </div>
                                            <button class="btn btn-primary  pull-right" id="button-shipping-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-method-content">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SHIPPING METHOD -->

                            <!-- BEGIN PAYMENT METHOD -->
                            <div id="payment-method" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-method-content" class="accordion-toggle"> Step 5: Payment Method </a>
                                    </h2>
                                </div>
                                <div id="payment-method-content" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-md-12">
                                            <p>Please select the preferred payment method to use on this order.</p>
                                            <div class="radio-list">
                                                <label>
                                                    <input type="radio" name="CashOnDelivery" value="CashOnDelivery"> Cash On Delivery
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label for="delivery-payment-method">Add Comments About Your Order</label>
                                                <textarea id="delivery-payment-method" rows="8" class="form-control"></textarea>
                                            </div>
                                            <button class="btn btn-primary  pull-right" id="button-payment-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#confirm-content">Continue</button>
                                            <div class="checkbox pull-right">
                                                <label>
                                                    <input type="checkbox"> I have read and agree to the <a title="Terms & Conditions" href="{{ url_for('shop_tc') }}" target="_blank">Terms & Conditions </a> &nbsp;&nbsp;&nbsp;
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAYMENT METHOD -->

                            <!-- BEGIN CONFIRM -->
                            <div id="confirm" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#checkout-page" href="#confirm-content"
                                                               class="accordion-toggle"> Step 6: Confirm Order</a></h2>
                                </div>
                                <div id="confirm-content" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-md-12 clearfix">
                                            <div class="table-wrapper-responsive">
                                                <table>
                                                    <tr>
                                                        <th class="checkout-image">Image</th>
                                                        <th class="checkout-description">Description</th>
                                                        <th class="checkout-model">Model</th>
                                                        <th class="checkout-quantity">Quantity</th>
                                                        <th class="checkout-price">Price</th>
                                                        <th class="checkout-total">Total</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="checkout-image"><a href="javascript:;"><img src="static/pages/img/products/model3.jpg"
                                                                                                               alt="Berry Lace Dress"></a></td>
                                                        <td class="checkout-description">
                                                            <h3><a href="javascript:;">Cool green dress with red bell</a></h3>
                                                            <p><strong>Item 1</strong> - Color: Green; Size: S</p>
                                                            <em>More info is here</em></td>
                                                        <td class="checkout-model">RES.193</td>
                                                        <td class="checkout-quantity">1</td>
                                                        <td class="checkout-price"><strong><span>$</span>47.00</strong></td>
                                                        <td class="checkout-total"><strong><span>$</span>47.00</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="checkout-image"><a href="javascript:;"><img src="static/pages/img/products/model4.jpg"
                                                                                                               alt="Berry Lace Dress"></a></td>
                                                        <td class="checkout-description">
                                                            <h3><a href="javascript:;">Cool green dress with red bell</a></h3>
                                                            <p><strong>Item 1</strong> - Color: Green; Size: S</p>
                                                            <em>More info is here</em>
                                                        </td>
                                                        <td class="checkout-model">RES.193</td>
                                                        <td class="checkout-quantity">1</td>
                                                        <td class="checkout-price"><strong><span>$</span>47.00</strong></td>
                                                        <td class="checkout-total"><strong><span>$</span>47.00</strong></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="checkout-total-block">
                                                <ul>
                                                    <li>
                                                        <em>Sub total</em>
                                                        <strong class="price"><span>$</span>47.00</strong>
                                                    </li>
                                                    <li>
                                                        <em>Shipping cost</em>
                                                        <strong class="price"><span>$</span>3.00</strong>
                                                    </li>
                                                    <li>
                                                        <em>Eco Tax (-2.00)</em>
                                                        <strong class="price"><span>$</span>3.00</strong>
                                                    </li>
                                                    <li>
                                                        <em>VAT (20.0%)</em>
                                                        <strong class="price"><span>$</span>3.00</strong>
                                                    </li>
                                                    <li class="checkout-total-price">
                                                        <em>Total</em>
                                                        <strong class="price"><span>$</span>56.00</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button class="btn btn-primary pull-right" type="submit" id="button-confirm">Confirm Order</button>
                                            <button type="button" class="btn btn-default pull-right margin-right-20">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END CONFIRM -->
                        </form >









                    </div>
                    <!-- END CHECKOUT PAGE -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>
    </body>
{% endblock %}