{% extends "/base.html" %}

{% block head %}
    <title>Products | AkramsScarfs</title>
{% endblock %}

{% block body %}
<body class="ecommerce">
    <div class="title-wrapper">
      <div class="container"><div class="container-inner">
        <h1><span>Products</span></h1>
        <em>Choose from our variety of exceptional handmade scarves</em>
      </div></div>
    </div>
    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('shop_main') }}">Home</a></li>
            
            <li class="active">Products</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-5">
<div class="sidebar-filter margin-bottom-25">
          <h2>Filter</h2>
              <h3>Availability</h3>
              <div class="checkbox-list">
                <label><input type="checkbox"> Not Available (3)</label>
                <label><input type="checkbox"> In Stock (26)</label>
              </div>

              <h3>Price</h3>
              <p>
                <label for="amount">Range:</label>
                <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
              </p>
              <div id="slider-range"></div>
            </div>


          </div>
          <!-- END SIDEBAR -->
          <!-- BEGIN CONTENT -->

            <!-- BEGIN PRODUCT LIST -->
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              {% for product in products %}
              <div class="col-md-4 col-sm-6 col-xs-12">
                <form id="form{{product[0]|string}}" method="POST">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="../static/pages/img/products/id/{{product[0]|string}}.jpg" class="img-responsive" alt="{{product[1]|string}}">
                    <input type="hidden" name="prodID" value="{{product[0]|string}}">
                    <div>
                      <a href="../static/pages/img/products/id/{{product[0]|string}}.jpg" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="{{ url_for('shop_item') }}">{{product[1]|string}}</a></h3>
                  <div class="pi-price">£{{product[2]|string}}</div>
                  <a href="javascript:;" class="btn btn-default add2cart" onclick="document.getElementById('form{{product[0]|string}}').submit()">Add to cart</a>
                </div>
                  </form>
              </div>
              {% endfor %}
              </div>
            <!-- END PRODUCT LIST -->
            <!-- BEGIN PAGINATOR -->
            <div class="row">
              <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
              <div class="col-md-8 col-sm-8">
                <ul class="pagination pull-right">
                  <li><a href="javascript:;">&laquo;</a></li>
                  <li><a href="javascript:;">1</a></li>
                  <li><span>2</span></li>
                  <li><a href="javascript:;">3</a></li>
                  <li><a href="javascript:;">4</a></li>
                  <li><a href="javascript:;">5</a></li>
                  <li><a href="javascript:;">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- END PAGINATOR -->
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
</body>
{% endblock %}