{% extends "/base.html" %}

{% block head %}
    <title>Contact | AkramsScarfs</title>
{% endblock %}

{% block body %}
    <body class="ecommerce">
        <div class="main">
          <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('shop_main') }}">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Contact</li>
            </ul>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
              <!-- BEGIN SIDEBAR -->
              <div class="sidebar col-md-3 col-sm-3">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                  <li class="list-group-item clearfix"><a href="{{ url_for('shop_checkout') }}"><i class="fa fa-angle-right"></i> Register</a></li>
                  <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Forgot Password</a></li>
                  {% if session['logged_in'] == True %}
                        <li class="list-group-item clearfix"><a href="{{ url_for('shop_account') }}"><i class="fa fa-angle-right"></i> My account</a></li>
                    {% else %}
                        <li class="list-group-item clearfix"><a href="{{ url_for('shop_checkout') }}"><i class="fa fa-angle-right"></i> My account</a></li>
                    {% endif %}

                </ul>

                <h2>Our Contacts</h2>
                <address>
                  Tomas Zboril : 1618157@brunel.ac.uk Akash Thayil : 1517117@brunel.ac.uk Mushfiq Ankur : 1644337@brunel.ac.uk Thomas Lunde : 1731809@brunel.ac.uk Tarek Ahmed : 1616214@brunel.ac.uk<br>
                </address>

              </div>
              <!-- END SIDEBAR -->

              <!-- BEGIN CONTENT -->
              <div class="col-md-9 col-sm-9">
                <h1>Contact</h1>
                <div class="content-page">
                  <div class="gmaps margin-bottom-40" style="height:300px;"><div class="gmap_canvas"><iframe width="600" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=brunel%20university%20London&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.thevpncoupons.com"></a></div><style>.mapouter{position:relative;text-align:right;height:300px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>

                  <h2>Contact Form</h2>
                    <p>We hope that you are satisfied with your purchase and you experience with our services but sometimes things may not go according to plan and if you feel we can improve our services then please let us know. </p>
                    <p>You can expect that we will try our best to resolve your issue by making it easy to contact us.  Please fill out the form below and a representative from our team will respond within 5 working days. You may also call our number at 01501203321.</p>

                  <!-- BEGIN FORM-->
                  <form action="#" class="default-form" role="form">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email <span class="require">*</span></label>
                      <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                      <label for="message">Message</label>
                      <textarea class="form-control" rows="8" id="message"></textarea>
                    </div>
                    <div class="padding-top-20">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                  <!-- END FORM-->
                </div>
              </div>
              <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
          </div>
        </div>
    </body>
{% endblock %}