{% extends "/base.html" %}

{% block head %}
    <title>Registration | AkramsScarfs</title>
{% endblock %}

{% block body %}
    <body class="ecommerce">
    <div class="main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('shop_main') }}">Home</a></li>
                <li class="active">Registration</li>
            </ul>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <h1>Checkout</h1>
                    <!-- BEGIN CHECKOUT PAGE -->
                    <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
                        <!-- BEGIN CHECKOUT -->
                        <div id="checkout" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#checkout-content" class="accordion-toggle"> Step 1: Privacy policy </a>
                                </h2>
                            </div>
                            <div id="checkout-content" class="panel-collapse collapse in">
                                <div class="panel-body row">
                                        {% if error_reg %}
                                            <p class="error"><strong>Error:</strong>{{ error_reg }}</p>
                                        {% endif %}
                                    <div class="col-md-6 col-sm-6">
                                        <form>
                                        <h3>New Customer</h3>
                                        {% if message %}
                                            <p class="error">{{ message }}</p>
                                        {% endif %}

                                        <div class="checkbox pull-left"><label><input required name="privpolcheck" id="privpolcheck" type="checkbox"> I have read and agree to the <a
                                                title="Privacy Policy" href="{{ url_for('shop_privp') }}" target="_blank">Privacy Policy</a> &nbsp;&nbsp;&nbsp;</label>
                                        </div>
                                        <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-address-content">Continue</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form action="{{ url_for('shop_registration') }}" method="post" autocomplete="off">
                            <!-- BEGIN PAYMENT ADDRESS -->
                            <div id="payment-address" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#checkout-page" href="#payment-address-content" class="accordion-toggle"> Step 2: Account &amp; Billing Details </a></h2>
                                </div>
                                <div id="payment-address-content" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-md-6 col-sm-6">
                                            <h3>Your Personal Details</h3>
                                            <div class="form-group">
                                                <label for="firstname">First Name <span class="require">*</span></label>
                                                <input type="text" name="firstname" id="firstname" placeholder="First name" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname">Last Name <span class="require">*</span></label>
                                                <input type="text" name="lastname" id="lastname" placeholder="Last name" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">E-Mail <span class="require">*</span></label>
                                                <input type="text" name="email" id="email" placeholder="Email" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="telephone">Telephone <span class="require">*</span></label>
                                                <input type="text" name="phone" id="telephone" placeholder="Phone number" class="form-control" required>
                                            </div>

                                            <h3>Your Password</h3>
                                            <div class="form-group">
                                                <label for="password">Password <span class="require">*</span></label>
                                                <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password-confirm">Password Confirm <span
                                                        class="require">*</span></label>
                                                <input type="password" name="password" id="password-confirm" placeholder="Password" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <h3>Your Address</h3>
                                            <div class="form-group">
                                                <label for="address1">Address 1 <span class="require">*</span></label>
                                                <input type="text" name="address1" id="address1" placeholder="Address 1" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="address2">Address 2 <span class="require">*</span></label>
                                                <input type="text" name="address2" id="address2" placeholder="Address 2" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="city">City <span class="require">*</span></label>
                                                <input type="text" name="city" id="city" placeholder="City" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="post-code">Post Code <span class="require">*</span></label>
                                                <input type="text" name="postcode" id="post-code" placeholder="Post code" class="form-control required">
                                            </div>
                                            <div class="form-group">
                                                <label for="country">Country <span class="require">*</span></label>
                                                <select class="form-control input-sm" name="country" id="country">
                                                    <option value="" selected> --- Please Select ---</option>
                                                    <option value="1">Afghanistan</option>
                                                    <option value="2">Albania</option>
                                                    <option value="3">Algerie</option>
                                                    <option value="4">Andorra</option>
                                                    <option value="5">Angola</option>
                                                    <option value="6">Argentina</option>
                                                    <option value="7">Australia</option>
                                                    <option value="8">Bahamas</option>
                                                    <option value="9">Bangladesh</option>
                                                    <option value="10">Barbados</option>
                                                    <option value="11">Belgium</option>
                                                    <option value="12">Bolivia</option>
                                                    <option value="13">Brazil</option>
                                                    <option value="14">Bulgaria</option>
                                                    <option value="15">Cambodia</option>
                                                    <option value="16">Cameroon</option>
                                                    <option value="17">Canada</option>
                                                    <option value="18">China</option>
                                                    <option value="19">Colombia</option>
                                                    <option value="20">Cuba</option>
                                                    <option value="21">Croatia</option>
                                                    <option value="22">Denmark</option>
                                                    <option value="23">Dominican Republic</option>
                                                    <option value="24">Ecuador</option>
                                                    <option value="25">Egypt</option>
                                                    <option value="26">El Salvador</option>
                                                    <option value="27">Eritrea</option>
                                                    <option value="28">Ethiopia</option>
                                                    <option value="29">Fiji</option>
                                                    <option value="30">Finland</option>
                                                    <option value="31">France</option>
                                                    <option value="32">Gambia</option>
                                                    <option value="33">Germany</option>
                                                    <option value="34">Greece</option>
                                                    <option value="35">Haiti</option>
                                                    <option value="36">Hungary</option>
                                                    <option value="37">Iceland</option>
                                                    <option value="38">India</option>
                                                    <option value="39">Iraq</option>
                                                    <option value="40">Ireland</option>
                                                    <option value="41">Italy</option>
                                                    <option value="42">Jamaica</option>
                                                    <option value="43">Japan</option>
                                                    <option value="44">Jordan</option>
                                                    <option value="45">Kazakhstan</option>
                                                    <option value="46">Kenya</option>
                                                    <option value="47">Kuwait</option>
                                                    <option value="48">Laos</option>
                                                    <option value="49">Latvia</option>
                                                    <option value="50">Lebanon</option>
                                                    <option value="51">Malta</option>
                                                    <option value="52">Mexico</option>
                                                    <option value="53">Monaco</option>
                                                    <option value="54">Nepal</option>
                                                    <option value="55">New Zealand</option>
                                                    <option value="56">Nigeria</option>
                                                    <option value="57">Oman</option>
                                                    <option value="58">Pakistan</option>
                                                    <option value="59">Panama</option>
                                                    <option value="60">Peru</option>
                                                    <option value="61">Qatar</option>
                                                    <option value="62">Romania</option>
                                                    <option value="63">Russia</option>
                                                    <option value="64">San Marino</option>
                                                    <option value="65">Saudi Arabia</option>
                                                    <option value="66">Slovakia</option>
                                                    <option value="67">Spain</option>
                                                    <option value="68">Taiwan</option>
                                                    <option value="69">Turkey</option>
                                                    <option value="70">Uganda</option>
                                                    <option value="71">Ukraine</option>
                                                    <option value="72">United Kingdom</option>
                                                    <option value="73">United States of America</option>
                                                    <option value="74">Venezuela</option>
                                                    <option value="75">Vietnam</option>
                                                    <option value="76">Yemen</option>
                                                    <option value="77">Zambia</option>
                                                    <option value="78">Zimbabwe</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="region-state">Region/State </label>
                                                <select class="form-control input-sm" name="state" id="region-state">
                                                    <option value="" selected> --- Please Select ---</option>
                                                    <option value=""> --- Please Select ---</option>
                                                    <option value="1">Avon</option>
                                                    <option value="2">Antrim</option>
                                                    <option value="3">Armagh</option>
                                                    <option value="4">Aberdeenshire</option>
                                                    <option value="5">Angus</option>
                                                    <option value="6">Argyll</option>
                                                    <option value="7">Anglesey</option>
                                                    <option value="8">Berkshire</option>
                                                    <option value="9">Buckinhamshire</option>
                                                    <option value="10">Banffshire</option>
                                                    <option value="11">Berwickshire</option>
                                                    <option value="12">Cambridgeshire</option>
                                                    <option value="13">Chesire</option>
                                                    <option value="14">Cornwall</option>
                                                    <option value="15">Cumbria</option>
                                                    <option value="16">Cardiganshire</option>
                                                    <option value="17">Derbyshire</option>
                                                    <option value="18">Devon</option>
                                                    <option value="19">Dorset</option>
                                                    <option value="20">Durham</option>
                                                    <option value="21">Down</option>
                                                    <option value="22">Dyfed</option>
                                                    <option value="23">East Suffolk</option>
                                                    <option value="24">East Sussex</option>
                                                    <option value="25">Essex</option>
                                                    <option value="26">Fermanagh</option>
                                                    <option value="27">Flintshire</option>
                                                    <option value="28">Greater London</option>
                                                    <option value="29">Glamorgan</option>
                                                    <option value="30">Gwent</option>
                                                    <option value="31">Hampshire</option>
                                                    <option value="32">Herefordshire</option>
                                                    <option value="33">Humberside</option>
                                                    <option value="34">Isle of Ely</option>
                                                    <option value="35">Isle of Wight</option>
                                                    <option value="36">Inverness-shire</option>
                                                    <option value="37">Kent</option>
                                                    <option value="38">Kincardineshire</option>
                                                    <option value="39">Kinross-shire</option>
                                                    <option value="40">Leicestershire</option>
                                                    <option value="41">Lincolnshire</option>
                                                    <option value="42">London</option>
                                                    <option value="43">Lanarkshire</option>
                                                    <option value="44">Merseyside</option>
                                                    <option value="45">Middlesex</option>
                                                    <option value="46">Moray</option>
                                                    <option value="47">Mid Glamorgan</option>
                                                    <option value="48">Norfolk</option>
                                                    <option value="49">Northamptonshire</option>
                                                    <option value="50">North Yorkshire</option>
                                                    <option value="51">Nairnshire</option>
                                                    <option value="52">Oxfordshire</option>
                                                    <option value="53">Rutland</option>
                                                    <option value="54">Ross-shire</option>
                                                    <option value="55">Suffolk</option>
                                                    <option value="56">Surrey</option>
                                                    <option value="57">Sussex</option>
                                                    <option value="58">Sutherland</option>
                                                    <option value="59">Tyrone</option>
                                                    <option value="60">West Midlands</option>
                                                    <option value="61">West Suffolk</option>
                                                    <option value="62">Wrexham</option>
                                                    <option value="63">Yorkshire</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-md-12">
                                            <input class="btn btn-primary pull-right" type="submit" value="Register" id="button-register">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAYMENT ADDRESS -->
                        </form >
                    </div>
                    <!-- END REGISTRATION PAGE -->
                </div>

{#            <script type="text/javascript">#}
{#                if(<document></document>tElementById('gender_Male').checked) {#}
{#                    //Male radio button is checked#}
{#                } else if (document.getElementById('gender_Female').checked) {#}
{#                    //Female radio button is checked#}
{#                }#}
{#            </script>#}
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>
    </body>
{% endblock %}