{% extends "/base.html" %}

{% block head %}
    <title>About us | AkramsScarfs</title>
{% endblock %}

{% block body %}
<body class="ecommerce">

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('shop_main') }}">Home</a></li>
            <li class="active">Terms &amp; Conditions</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix"><a href="{{ url_for('shop_checkout') }}"><i class="fa fa-angle-right"></i> Register</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Forgot Password</a></li>
              {% if session['logged_in'] == True %}
                  <li class="list-group-item clearfix"><a href="{{ url_for('shop_account') }}"><i class="fa fa-angle-right"></i> My account</a></li>
              {% else %}
                  <li class="list-group-item clearfix"><a href="{{ url_for('shop_checkout') }}"><i class="fa fa-angle-right"></i> My account</a></li>
              {% endif %}
            </ul>
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-9">
            <h1>About us</h1>
            <div class="content-page">
              <p><img src="static/pages/img/img1.jpg" alt="About us" class="img-responsive"></p>
              <p>Created in 2020 by Tomas Zboril, Akash Thayil, Mushfiq Ankur, Tarek Ahmed and Thomas Lunde. AK Scarfs is an online ecommerce store specializing in scarves from all brands, created in Uxbridge, London England by 5 students as a project from Professor Akram Khan, Brunel University.</p>
              <p>AK Scarfs online ecommerce store Brunel university London, Kingston Lane, Uxbridge, Middlesex UB8 3PH </p>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
</body>
{% endblock %}