{% extends "/base.html" %}

{% block head %}
    <title>Checkout | AkramsScarfs</title>
{% endblock %}

{% block body %}
    <body class="ecommerce">
    <div class="main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('shop_main') }}">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <h1>Checkout</h1>

                    <form action="{{ url_for('shop_registration') }}" method="post" autocomplete="off">
                        <!-- BEGIN PAYMENT ADDRESS -->
                        <div id="payment-address" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title"><a data-toggle="collapse" data-parent="#checkout-page" href="#payment-address-content" class="accordion-toggle"> Step 1: Account &amp; Billing Details </a></h2>
                            </div>
                            <div id="payment-address-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Your Personal Details</h3>
                                        <div class="form-group">
                                            <label for="firstname">First Name <span class="require">*</span></label>
                                            <input type="text" name="firstname" id="firstname" placeholder="First name" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">Last Name <span class="require">*</span></label>
                                            <input type="text" name="lastname" id="lastname" placeholder="Last name" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">E-Mail <span class="require">*</span></label>
                                            <input type="text" name="email" id="email" placeholder="Email" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="telephone">Telephone <span class="require">*</span></label>
                                            <input type="text" name="phone" id="telephone" placeholder="Phone number" class="form-control" required>
                                        </div>

                                        <h3>Your Password</h3>
                                        <div class="form-group">
                                            <label for="password">Password <span class="require">*</span></label>
                                            <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password-confirm">Password Confirm <span
                                                    class="require">*</span></label>
                                            <input type="password" name="password" id="password-confirm" placeholder="Password" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Your Address</h3>
                                        <div class="form-group">
                                            <label for="address1">Address 1 <span class="require">*</span></label>
                                            <input type="text" name="address1" id="address1" placeholder="Address 1" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="address2">Address 2 <span class="require">*</span></label>
                                            <input type="text" name="address2" id="address2" placeholder="Address 2" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="city">City <span class="require">*</span></label>
                                            <input type="text" name="city" id="city" placeholder="City" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="post-code">Post Code <span class="require">*</span></label>
                                            <input type="text" name="postcode" id="post-code" placeholder="Post code" class="form-control required">
                                        </div>
                                        <div class="form-group">
                                            <label for="country">Country <span class="require">*</span></label>
                                            <select class="form-control input-sm" name="country" id="country">
                                                <option value="" selected> --- Please Select ---</option>
                                                <option value="244">Aaland Islands</option>
                                                <option value="1">Afghanistan</option>
                                                <option value="2">Albania</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="region-state">Region/State </label>
                                            <select class="form-control input-sm" name="state" id="region-state">
                                                <option value="" selected> --- Please Select ---</option>
                                                <option value="3513">Aberdeen</option>
                                                <option value="3514">Aberdeenshire</option>
                                                <option value="3515">Anglesey</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-md-12">

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checked="checked"> My delivery and billing addresses are the same.
                                            </label>
                                        </div>
                                        <button class="btn btn-primary  pull-right" type="button" data-toggle="collapse" data-parent="#checkout-page"
                                                data-target="#shipping-method-content" id="button-payment-address"> Continue
                                        </button>
                                        <div class="checkbox pull-right">
                                            <label>
                                                <input required type="checkbox"> I have read and agree to the <a title="Privacy Policy"
                                                                                                                 href="{{ url_for('shop_privp') }}"
                                                                                                                 target="_blank">Privacy Policy</a> &nbsp;&nbsp;&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAYMENT ADDRESS -->

                        <!-- BEGIN SHIPPING METHOD -->
                        <div id="shipping-method" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-method-content" class="accordion-toggle"> Step 2: Delivery Method</a>
                                </h2>
                            </div>
                            <div id="shipping-method-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-12">
                                        <p>Please select the preferred shipping method to use on this order. <span class="require">*</span></p>
                                        <h4>Flat Rate</h4>
                                        <div class="radio-list">
                                            <label>
                                                <input required type="radio" name="FlatShippingRate" value="FlatShippingRate"> Flat Shipping Rate
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="delivery-comments">Add Comments About Your Order</label>
                                            <textarea id="delivery-comments" rows="8" class="form-control"></textarea>
                                        </div>
                                        <button class="btn btn-primary  pull-right" type="button" id="button-shipping-method" data-toggle="collapse"
                                                data-parent="#checkout-page" data-target="#payment-method-content">Continue
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SHIPPING METHOD -->

                        <!-- BEGIN PAYMENT METHOD -->
                        <div id="payment-method" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-method-content" class="accordion-toggle"> Step 3: Payment Method </a>
                                </h2>
                            </div>
                            <div id="payment-method-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-12">
                                        <p>Please select the preferred payment method to use on this order.<span class="require">*</span></p>
                                        <div class="radio-list">
                                            <label>
                                                <input required type="radio" name="CashOnDelivery" value="CashOnDelivery"> Cash On Delivery
                                            </label>
                                        </div>
                                        <button class="btn btn-primary  pull-right" type="button" id="button-payment-method" data-toggle="collapse"
                                                data-parent="#checkout-page" data-target="#confirm-content">Continue
                                        </button>
                                        <div class="checkbox pull-right">
                                            <label>
                                                <input required type="checkbox"> I have read and agree to the <a title="Terms & Conditions" href="{{ url_for('shop_tc') }}" target="_blank">Terms & Conditions <span class="require">*</span></a> &nbsp;&nbsp;&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAYMENT METHOD -->

                        <!-- BEGIN CONFIRM -->
                        <div id="confirm" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title"><a data-toggle="collapse" data-parent="#checkout-page" href="#confirm-content" class="accordion-toggle"> Step 4: Confirm Order</a></h2>
                            </div>
                            <div id="confirm-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-12 clearfix">
                                        <div class="table-wrapper-responsive">
                                            <table>
                                                <tr>
                                                    <th class="checkout-image">Image</th>
                                                    <th class="checkout-description">Description</th>
                                                    <th class="checkout-model">Model</th>
                                                    <th class="checkout-quantity">Quantity</th>
                                                    <th class="checkout-price">Price</th>
                                                    <th class="checkout-total">Total</th>
                                                </tr>
                                                {% for item,t_item in items|zip(t_items) %}
                                                <tr>
                                                    <td class="checkout-image"><a href="javascript:;"><img src="../static/pages/img/products/id/{{item[0]|string}}.jpg"
                                                                                                           alt="{{t_item[1]|string}}"></a></td>
                                                    <td class="checkout-description">
                                                        <h3><a href="javascript:;">{{t_item[1]|string}}</a></h3>
                                                        <p><strong>ProductID:{{item[0]|string}}</strong> -{{t_item[3]|string}}</p>
                                                        </td>

                                                    <td class="checkout-quantity">{{item[1]|string}}</td>
                                                    <td class="checkout-price"><strong><span>£</span>{{t_item[2]|string}}</strong></td>
                                                    <td class="checkout-total"><strong><span>£</span>{{item[2]|string}}</strong></td>
                                                </tr>
                                                {% endfor %}

                                            </table>
                                        </div>
                                        <div class="checkout-total-block">
                                            <ul>
                                                <li>
                                                    <em>Sub total</em>
                                                    <strong class="price"><span>£</span>{{total|string}}</strong>
                                                </li>
                                                <li>
                                                    <em>Shipping cost</em>
                                                    <strong class="price"><span>£</span>{{ship|string}}</strong>
                                                </li>

                                                <li class="checkout-total-price">
                                                    <em>Total</em>
                                                    <strong class="price"><span>£</span>{{t_cost|string}}</strong>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>

                                        <input class="btn btn-primary pull-right" type="submit" value="Order" id="button-confirm">
                                        <button type="button" class="btn btn-default pull-right margin-right-20">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CONFIRM -->
                    </form>
                </div>
                <!-- END CHECKOUT PAGE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
    </div>
    </body>
{% endblock %}